h1 {
    text-align: center;
  }
  
  input {
    border: none;
    outline: none;
  }
  
  button {
    padding-right: 0;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  
  .todo-li {
    border-top: 2px solid #000;
    list-style-type: none;
    padding: 5px 5px;
  }
  
  .todo-li:nth-child(1) {
    border: none;
    margin-top: -20px;
  }
  
  .todo-li:nth-last-child(1) {
    border-bottom: 2px solid;
  }
  
  .todo-li button {
    margin-left: 645px;
  }
  
  #task-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 1px;
  }
  
  #todo-app {
    border: 2px solid #000;
    width: 50%;
    margin: auto;
  }
  
  .divider {
    width: 100%;
    background-color: #000;
    height: 2px;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  #task-input {
    width: 90%;
    border: none;
    outline: none;
  }
  
  #add-task-btn {
    margin-bottom: 10px;
    margin-left: 30px;
  }
  
  .completed {
    text-decoration: line-through;
    color: #999;
  }
  
  .uncompleted {
    color: #000;
  }
  
  #clear-completed-btn {
    margin-left: 275px;
    border: none;
    background-color: #fff;
  }
  
  .drag-list li {
    cursor: grab;
  }
  
  .drag-list li:active {
    cursor: grabbing;
  }
  